* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "neue";
  src: url("NeueMachina/NeueMachina-Light.otf");
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("NeueMachina/NeueMachina-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "neue";
  src: url("NeueMachina/NeueMachina-Ultrabold.otf");
  /* font-weight: 600; */
  font-style: normal;
}

:root {
  --font-family: "neue", sans-serif;
  --neue-light: 300;
  --neue-regular: 400;
  --neue-bold: 700;
}

.page-1 {
  height: 100vh;
  width: 100%;
  color: #e9e9e9;
  background-color: #0c0c0c;
  position: relative;
  z-index: 0;
}

.element {
  width: 35%;
  height: 25%;
  background-color: rgba(255, 235, 205, 0.834);
  position: relative;
  z-index: 5;
  top: 35%;
  left: -15%;
  border-radius: 50%;
  filter: blur(225px);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  /* font-family: var(--font-family);
  font-weight: var(--neue-light); */
  /* padding: 1.5rem 7vw 0.5rem 5vw; */
  height: 8%;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

nav img{
  display: none;
}

.option {
  display: flex;
  gap: 2.85rem;
   font-family: var(--font-family);
  font-weight: var(--neue-light);
}

.option a {
  text-decoration: none;
  color: #e9e9e9;
  font-family: var(--neue-bold);
}

#wiggle {
  font-size: 1.09rem;
  font-weight: 600;
  color: #be524b;
  animation: wiggle 2s ease-in-out infinite;
}

.mobile{
  background-color: #0c0c0c;
  width: 100vw;
  height: calc(100% - 8%);
  position: absolute;
  z-index: 9;
  overflow:hidden;
  display: none;
}

@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-7px);
  }
  20% {
    transform: translateX(7px);
  }
  30% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-section {
  font-family: var(--font-family);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-text {
  text-align: center;
  font-size: 4vw;
  line-height: 0.975em;
  display: block;
}

#intro {
  /* padding-bottom: 1vh; */
  font-size:2.2vw;
}

 #dis a{
  text-decoration: none;
  color:  #e9e9e9;
  font-size: 2vw;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 450;
}

#curiosity {
  font-family: "Times New Roman", Times, serif;
}

#bold {
  color: #be524b;
  font-weight: 600;
}

/* #side-text {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: flex-end;
  display: block;
  height: 200px;
   width: 18em;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.2em;
  font-weight: 300;
} */
 #side-text {
  display: none;
  position: absolute;
  right: 0;
  bottom: 15%;
  padding: 20px;
  max-width: 320px;
  font-size: 1vmax;
  text-align: left;
  font-family: var(--neue-light);
  font-weight: 400;
}

.element-2{
  width: 15%;
  height: 15%;
  background-color: rgba(255, 235, 205, 0.834);
  position: absolute;
  bottom: 15%;
  left: 80%;
  z-index: 8;
  filter: blur(110px);
}

.btns {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.btn {
  font-size: 2vmin;
  font-family: var(--neue-regular);
  height: 2.8125rem;
  width: 24vmin;
  border: none;
  border-radius: 62.5rem;
  background-color: rgb(250, 235, 215);
}

.btn a{
  text-decoration: none;
  color: black;
}

.page-2 {
  height: 100vh;
  width: 100%;
  background-color: #0c0c0c;
   color: #e9e9e9;
   font-family: var(--font-family);
}

.head-pg-2{
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem 0rem 0.5rem 3rem;
  font-weight:100;
}













@media (max-width: 600px) {
  nav .option{
    display: none;
  }

  .mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: 0.4s; */
  }

  .mobile .option{
    font-weight: 400;
    flex-direction: column;
    font-size: 3.2vh;
    text-align: center;
  }

  nav img{
    display:block;
    height: 1.2rem;
    transition: .3s;
  }
  .btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}
.btn {
  font-size:3.2vmin;
  width: 18vmax;
  height: 4.2vmax;
}
.main-text {
  font-size: 10vmin;
  width: 80vw;
}
#intro {
  color: #d36e66;
  font-size:2.4vmax;
}
.discription{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  text-decoration: none;
}
/* #side-text {
  width: 18em;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.2em;
  font-weight: 300;
  width: 80vw;
} */
 #side-text{
  display: none;
 }
 .element {
  filter: blur(95px);
  z-index: 9;
}
 .element-2 {
  filter: blur(80px);
  z-index: 9;
}
 #dis a{
  font-size: 4.5vw;
  font-weight: 450;
}
}